main {
  display: flex;
  justify-content: center;
}

.listContainer {
  margin-top: 100px;
  width: 65%;
  box-shadow: 0 0 2px 2px rgb(139, 138, 138);
}

.title {
  height: 50px;
  margin: 0;
  font-size: 20px;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
}

.p1 {
  font-size: 20px;
}

.addTask {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid grey;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addTask > input {
  border: none;
}

.addTask > input:focus {
  outline: none !important;
}

.submit {
  background-color: inherit;
}

.to-do-list {
  padding-inline-start: 0;
  margin: 0;
}

.to-do-list > * {
  list-style: none;
  height: 50px;
  border-bottom: 1px solid grey;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  justify-content: space-between;
}

.to-do-list > * > div {
  display: flex;
  align-items: center;
}

.to-do-list > * > div > p {
  white-space: nowrap;
}

.to-do-list > * > div > p:focus {
  outline: none !important;
  white-space: nowrap;
}

.check {
  margin-right: 11px;
}

img {
  width: 20px;
  height: 20px;
  background: inherit;
  cursor: pointer;
}

.clear {
  background-color: rgba(228, 218, 218, 0.534);
  height: 50px;
  color: rgb(113, 116, 116);
  display: flex;
  font-size: 23px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
