* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 50px auto;
  width: 80%;
  box-shadow: 0 0 5px 5px rgb(110, 109, 109);
  position: relative;
}

.refresh {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
  border-bottom: 1px solid rgb(223, 215, 215);
}

.todo-list {
  list-style: none;
  height: 50px;
  border-bottom: 1px solid rgb(223, 215, 215);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
  padding: 0 10px;
  box-sizing: border-box;
  justify-content: space-between;
}

.input1 {
  border: none;
  width: 100%;
  padding: 14px;
  font-size: 15px;
  border-bottom: 1px solid rgb(223, 215, 215);
}

.check {
  margin-right: 10px;
}

.clear {
  width: 100%;
  height: 50px;
  background-color: rgb(238, 236, 229);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(134, 134, 133);
  margin-top: 10px;
}
